<h3>Login to the website: </h3>
<form action="/attendee/signin" method="post">
  <label for="username">Username:  </label>
  <input type="text" name="username" id="username">
  <label for="password">Password:  </label>
  <input type="text" name="password" id="password">
  <button type="submit" class="btn btn-primary">Log In</button>
</form>
