<h1>Personal Festival Scheduler</h1>

<h4>Create username</h4>
<form action="/signup" method="post">
  <label for="username">New User name:</label>
  <input type="text" name="username" id="username">
  <label for="password"> New User Password:  </label>
  <input type="text" name="password" id="password">
  <button type="submit">Add User</button>
</form>

<br>
<hr>
<br>

<h3>Login to the website: (If you're signed up with us!)</h3>
<form action="/login" method="post">
  <label for="username">User Name:  </label>
  <input type="text" name="username" id="username">
  <label for="password">User Password:  </label>
  <input type="text" name="password" id="password">
  <button type="submit" class="btn btn-primary">Log In</button>
  <a href="/logout" class="btn btn-danger">Logout</a>
</form>


<br>
<hr>
<br>

<a href="/">Festival Producer</a>
